// fonts
$default-font: 'Changa';

// colours
$black: #323032;
$darkgrey: #686c6d;
$grey: #8b8b8b;
$lightgrey: #d6d2c9;
$white: #f8fdff;
$blue: #11779f;
$red: #b32728;

// breakpoints
$bp-small: 992px;
$bp-medium: 1200px;
$bp-large: 1600px;